<div class="bkground">
 <div class="tmp"> 
    <div class="container" ng-controller="SetupController">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h3>Game Controller Setup</h3> 
			</div>
			<div class="col-xs-12 col-sm-12">
				<form class="forml" role="form" name="setupForm" ng-submit="saveSettings()" novalidate>
                    <div class="form-group form-inline" role="form">                     
						<div>
							<label for="kotijoukkue" class="control-label">Home Team:</label>  
							<input type="text" class="form-control" id="kotijoukkue" name="kotijoukkue" placeholder="Home Team" ng-model="setup.hometeam">
                        </div>
                    </div>
					
                    <div class="form-group form-inline" role="form"> 
                        <div>
							<label for="vierasjoukkue" class="control-label">Visitor Team:</label>
							<input type="text" class="form-control" id="vierasjoukkue" name="vierasjoukkue" placeholder="Visitor Team" ng-model="setup.visitorteam">
                        </div>
                    </div>                    
    
                    <div class="form-group form-inline" role="form">
						<label for="ajanlasku" class="control-label">Time direction:</label>  
						<div class="radio">
							<label><input type="radio" name="optradio" ng-model="setup.countdown" ng-value="false">Count up</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="optradio" ng-model="setup.countdown" ng-value="true">Count down</label>
						</div>
					</div>
  
  
					<div class="form-group form-inline" role="form">
						<label for="sel1" class="control-label">Length of period:</label>
						<select class="form-control" id="sel1" ng-change="gameTimeChanged($index)" ng-model="setup.gametimes[$index]"
								ng-options="gametime.id as gametime.minutes for gametime in setup.gametimes">
						</select>

						<label for="sel2">Amount of periods:</label>
						<select class="form-control" id="sel2" ng-change="periodCountChanged($index)" ng-model="setup.periodcounts[$index]" 
								ng-options="periodcount.id as periodcount.text for periodcount in setup.periodcounts"></select>


						<label for="sel3">Break time:</label>
						<select class="form-control" id="sel3" ng-change="pauseTimeChanged($index)" ng-model="setup.pausetimes[$index]" 
								ng-options="pausetime.id as pausetime.text for pausetime in setup.pausetimes"></select>

					</div>
					<div class="form-group form-inline" role="form">
						<label for="sel4">Length of timeout:</label>
						<select class="form-control" id="sel4" ng-change="timeoutTimeChanged($index)" ng-model="setup.timeouttimes[$index]" 
								ng-options="timeouttime.id as timeouttime.text for timeouttime in setup.timeouttimes"></select>
					</div>

        			<div class="form-group form-inline">
						<label for="rangaistukset" class="control-label">Used penalty times:</label>
        				<div class="form-group form-horizontal" role="form" ng-repeat="item in setup.penalties">
							<div class="checkbox">
								<label>
								<input type="checkbox" ng-checked="{{setup.penalties[$index].value}}" ng-true-value="true" ng-false-value="false" ng-model="setup.penalties[$index].value">{{item.text}}
								</label>
							</div>
        				</div>
					</div>

                    <div class="form-group">
                        <div>
							<button type="submit" class="btn btn-primary btn-responsive" ng-disabled="setupForm.$invalid">Save Setup</button>             <!--ui-sref="app.control"-->         
                        </div>
                    </div>																		
				</form>
            </div>
		</div>
		<p style="padding: 114px;">
    </div>
</div>
</div>    