<div ng-controller="AddPenaltyModalCtrl">
    <script type="text/ng-template" id="addpenaltymodal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Penalty</h3>
        </div>
        <div class="modal-body">
            <form class="forml" role="form" name="controlForm">

                <form class="form-inline">
                    <div class="form-group">
                        <label for="player">Player nr:</label>
                        <input type="text" class="form-control input-sm" 
                                id="player" ng-model="penalty.player" placeholder="Number of Player">

                        <div class="radio">
                            <label><input type="radio" ng-model="penalty.home" ng-value="true" ng-checked="penalty.home">Home</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="penalty.home" ng-value="false" ng-checked="!penalty.home">Visitor</label>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="reason">Reason for Penalty:</label>
                        <select class="form-control" id="reason" ng-change="reasonChanged($index)" ng-model="setup[0].reasons[$index]" 
                                ng-options="reason.id as reason.value for reason in setup[0].reasons"></select>
                    </div>

                    <div class="form-group">
                        <label for="penalty" class="control-label">Length of Penalty:</label>
                        <select class="form-control" id="penalty" ng-change="penaltyTimeChanged()" ng-model="penalty.length" 
                                ng-options="length.id as length.value for length in lengths"></select>              
                    </div>
                </form>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Confirm</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open()">Add<br>Penalty</button>
</div>