<div ng-controller="RemovePenaltyModalCtrl">
    <script type="text/ng-template" id="removepenaltymodal.html">
        <div class="modal-header">
            <h3 class="modal-title">Remove Penalty</h3>
        </div>
        <div class="modal-body">
            <form class="forml" role="form" name="controlForm">

                <form class="form-inline">
                    <div class="form-group">
                        <label for="player">Player nr:</label>
                        <input type="text" class="form-control input-sm" 
                                id="player" ng-model="penalty.player" placeholder="Number of Player">

                        <div class="radio">
                            <label><input type="radio" ng-model="penalty.home" ng-value="true" ng-checked="penalty.home">Home</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="penalty.home" ng-value="false" ng-checked="!penalty.home">Visitor</label>
                        </div>
                    </div>
                </form>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Confirm</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open()">Remove<br>Penalty</button>
    <!--div ng-show="selected">Selection from a modal: {{ selected }}</div-->
</div>