<div ng-controller="SetNewTimeModalCtrl">
    <script type="text/ng-template" id="setnewtimemodal.html">
        <div class="modal-header">
            <h3 class="modal-title">Set New Gametime</h3>
        </div>
        <div class="modal-body">
            <form class="forml" role="form" name="controlForm">

                <form class="form-inline">
                    <div class="form-group">
                        <label for="minutes">Minutes:</label>
                        <input type="text" class="form-control input-sm" 
                                id="player" ng-model="newgametime.minutes" placeholder="Give Game Minutes">

                        <label for="seconds">Seconds:</label>
                        <input type="text" class="form-control input-sm" 
                                id="player" ng-model="newgametime.seconds" placeholder="Give Game Seconds">
                    </div>
                </form>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Confirm</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open()">Set New Time</button>
</div>