.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 0px 0px;
  border-bottom: 1px ridge;
  min-height: 300px;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
  min-height: 90px;
}
.jumbotron {
  height: 80px;
  margin: 0px auto;
  padding: 0px 0px;
  background: #7986CB;
  color: floralwhite;
}

.navbar-inverse {
  background: #303f9f;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0; 
}

h2 {
font-size: 25px;
}


.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.checkbox {
  width: 70px;
}

.control-label {
  width: 120px;		
}


table td {
    border-top: none !important;
}

/* for scores, game time and break period time */
.table td.td1 { background: black;  text-align:center;   
                     color:red; font-family: Arial; font-size: 38px; height:50px; }

/* for visitor penalties and visitor timeouts */										 
.table td.td2 { background: black; 
                     color:white; font-family: Arial; font-size: 10px; 
                     vertical-align: bottom; text-align: right; height:40px}

/* for home penalties and home timeouts */
.table td.td3 { background: black; 
                     color:white; font-family: Arial; font-size: 10px; 
                     vertical-align: bottom; text-align: left; height:40px}					 

/* for home indicator */
.table td.td4 { background: black; height:50px; 
                     vertical-align: top; text-align: right; 
                     color:white; font-family: Arial; font-size: 40px;}					 

/* for visitor indicator */
.table td.td5 { background: black; height:50px;
                     vertical-align: top; text-align: left; 
                     color:white; font-family: Arial; font-size: 40px;}						 					 
/* for period indicator */
.table td.td6 { background: black; text-align:center;   
                     color:yellow; font-family: Arial; font-size: 40px; height:50px}					 
			 										 
					 
#homegoals{border:1px solid; border-color: red; background-color: grey; width:100px; margin-bottom:10px;
                     color:black; font-family: Arial; font-size: 20px; height:50px}

#visitorgoals{border:1px solid; border-color: green; background-color: grey; width:100px; margin-bottom:10px;
                     color:black; font-family: Arial; font-size: 20px; height:50px}

#timeouts, #addPenaltyBtn, #removePenaltyBtn, #startBtn, #stopBtn, #resetBtn, #goaltoscreenBtn
                    {background-color: grey; width:100px; margin-bottom:10px;
                     color:black; font-family: Arial; font-size: 12px; height:50px}			 


.bkground {
  background-image: url(../images/tausta2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}

.panel { 
  background: black;   opacity: 1;
}
.panel1 { 
  background: grey;  opacity: 1;
}

.tmp {
  opacity: 1;
  z-index: 2;
  position: relative;
}

@media ( max-width : 768px ) {
  #homegoals{border:1px solid; border-color: red; background-color: grey; width:60px; margin-bottom:50px;
                     color:black; font-family: Arial; font-size: 10px; height:40px }

  #visitorgoals{border:1px solid; border-color: green; background-color: grey; width:60px; margin-bottom:5px;
                     color:black; font-family: Arial; font-size: 10px; height:40px}

  #timeouts, #addPenaltyBtn, #removePenaltyBtn, #startBtn, #stopBtn, #resetBtn, #goaltoscreenBtn
                    {background-color: grey; width:60px; margin-bottom:5px;
                     color:black; font-family: Arial; font-size: 10px; height:40px} 
  h2 {
    font-size: 20px;
  }

}

@media ( max-width : 512px ) {
  #homegoals{border:1px solid; border-color: red; background-color: grey; width:40px; margin-bottom:50px;
                     color:black; font-family: Arial; font-size: 8px; height:40px }

  #visitorgoals{border:1px solid; border-color: green; background-color: grey; width:40px; margin-bottom:5px;
                     color:black; font-family: Arial; font-size: 8px; height:40px}

  #timeouts, #addPenaltyBtn, #removePenaltyBtn, #startBtn, #stopBtn, #resetBtn, #goaltoscreenBtn
                    {background-color: grey; width:40px; margin-bottom:5px;
                     color:black; font-family: Arial; font-size: 8px; height:40px}
  h2 {
    font-size: 15px;
  }

}